extends layout
 
block content
  div.logo-wrapper
    span.logo .
      (Winnipeg.js);
    span.tagline a Winnipeg JavaScript user group
  
  div.divider
  
  div.columns
    div
      h2 Who are we?
      p .
        We are a group of passionate Javascript developers practicing our craft in the
        cold, frozen wonders of Winnipeg. We love the web, sharing our knowledge
        with others and learning new things from one another. So don't be shy, stop by one
        of our meetups we would <3 to have you there.
    div
      h2 What is Javascript?
      p .
        Javascript is one of the most popular programming languages in the world. It started
        as a simple way to validate data entered on web forms. It since has grown to be the 
        scripting language of choice not just for the web, but for many software platforms
        ranging from pdfs to servers (with Node.js) and even databases (like MongoDB). The expressive
        nature of the language, its simplicity and light weight were a big factor in its popularity.
    div 
      h2 Join us
      p .
        Javascript was born as a web language. The web is all about sharing and a strong community. 
        We like to build upon that tradition and help one another build better applications. Of course, we cannot do that without your help! We need you to come to our meetups, present, share, teach and learn.
  
  div.divider
  
  div.announcement
    span .
      <a href="/events/sep-26-2012">Next meetup: Intro to Node.js</a>
      is 6pm 26 Sep @ UofM Smart Park. 